.addModal {
  border-radius: 2px;
  border: 1px solid #37414d;
  overflow: hidden;

  :global {
    .ant-form-item {
      margin-bottom: 12px;
    }

    .ant-upload-select {
      display: block;
    }

    .ant-input {
      box-shadow: none !important;
    }
    .ant-select-show-search .ant-select-selector {
      box-shadow: none !important;
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;
      padding: 0 8px 0 12px;
      background-color: #28323c;
      border-bottom: 1px solid #37414d;

      .title {
        color: #fff;
      }
    }
  }
}
