.liqun-modal {
  border: 1px solid #37414d;
  border-radius: 2px;
  background-color: #1c2630;

  .ant-form-item {
    margin-bottom: 12px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 8px 0 12px;
    background-color: #28323c;
    border-bottom: 1px solid #37414d;
    cursor: move;

    .title {
      flex: 1;
      color: #fff;
    }
  }

  .footer {
    text-align: right;
    padding: 0 12px 12px;
  }
}
