.liqun-modal {
  border: 1px solid rgba(var(--ground-color-5));
  border-radius: 2px;
  background-color: rgba(var(--ground-color-1), 0.9);
  backdrop-filter: blur(4px);

  .ant-form-item {
    margin-bottom: 12px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 8px 0 12px;
    background-color: rgb(var(--ground-color-3));
    border-bottom: 1px solid rgba(var(--ground-color-5));
    cursor: move;

    .title {
      flex: 1;
      color: rgb(var(--highlight-color));
    }
  }

  .footer {
    text-align: right;
    padding: 0 12px 12px;
  }
}
