// .operators {
//   display: flex;
//   justify-content: space-between;
//   padding: 8px;

.operator {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;

  &.active {
    background-color: #4c90f0;
    border-radius: 3px;

    * {
      color: #fff !important;
    }
  }
}
// }
