.global-notification {
  padding: 12px !important;
  background-color: rgba(221, 68, 68, 60%);
  color: #fff;

  &.ant-notification-notice {
    width: 300px !important;
  }

  .ant-notification-notice-message {
    color: #fff !important;
    margin-bottom: 2px !important;
    margin-inline-start: 24px !important;
  }

  .ant-notification-notice-description {
    color: #fff !important;
    margin-inline-start: 30px !important;
  }

  .ant-notification-notice-icon-warning.anticon {
    font-size: 16px !important;
    padding-top: 4px !important;
    color: #fff !important;
  }

  .ant-notification-notice-close {
    top: 14px !important;
    color: #fff !important;
  }

  .ant-notification-notice-close-x {
    color: #fff;
  }
}

.global-warnning-info {
  cursor: pointer;

  .global-warnning-close {
    &:hover {
      color: #70a3fb;
    }
  }
}

.ant-notification .ant-notification-notice-wrapper {
  background: rgba(0, 0, 0, 0%);
}
