.dushu {
  --ant-color-primary: rgb(var(--primary-color-3));
  --ant-color-primary-hover: rgb(var(--primary-color-4));
  --ant-color-primary-active: rgb(var(--primary-color-4));
  --ant-color-link: rgb(var(--primary-color-3));
  --ant-color-link-hover: rgb(var(--primary-color-4));
  --ant-color-link-active: rgb(var(--primary-color-4));
  --ant-color-text-description: rgb(var(--fore-color));

  --ant-color-fill-content: var(--ground-color-3);
  --ant-color-bg-container: transparent;
  --ant-color-border: rgb(var(--ground-color-5));
}

.dushu.ant-btn {
  --ant-button-default-hover-color: rgb(var(--highlight-color));
  --ant-button-default-active-color: rgb(var(--highlight-color));
  --ant-button-default-bg: rgb(var(--ground-color-3));
  --ant-button-default-hover-bg: rgb(var(--ground-color-4));
  --ant-button-default-active-bg: rgb(var(--ground-color-4));
  --ant-button-default-border-color: rgb(var(--ground-color-5));
  --ant-button-default-hover-border-color: rgb(var(--ground-color-5));
  --ant-button-border-color-disabled: rgb(var(--ground-color-5));
}

.dushu.ant-select-css-var {
  --ant-padding-sm: 12px;
  --ant-select-selector-bg: transparent;
  --ant-select-option-selected-bg: rgb(var(--primary-color-3));
  --ant-select-option-active-bg: rgb(var(--primary-color-3));
}

.dushu.ant-radio-css-var {
  --ant-radio-button-solid-checked-bg: rgb(var(--primary-color-3));
  --ant-radio-button-solid-checked-hover-bg: rgb(var(--primary-color-4));
  --ant-radio-button-solid-checked-active-bg: rgb(var(--primary-color-4));
}

.dushu.ant-tabs-css-var {
  --ant-tabs-item-selected-color: rgb(var(--primary-color-3));
  --ant-tabs-item-hover-color: rgb(var(--primary-color-4));
  --ant-tabs-item-active-color: rgb(var(--primary-color-4));
  --ant-tabs-ink-bar-color: rgb(var(--primary-color-3));
}

.dushu.ant-segmented {
  --ant-segmented-track-bg: rgb(var(--ground-color-1));
  --ant-segmented-item-color: rgb(var(--primary-color));
  --ant-segmented-item-hover-color: rgba(var(--highlight-color), 0.85);
  --ant-segmented-item-hover-bg: rgba(var(--highlight-color), 0.12);
  --ant-segmented-item-selected-bg: rgba(var(--primary-color), 0.18);
  --ant-segmented-item-selected-color: rgb(var(--primary-color));
  --ant-segmented-item-active-bg: rgba(var(--highlight-color), 0.18);
}

.ant-picker-outlined:hover {
  background-color: transparent;
}

.ant-bubble-list {
  gap: 8px;
}

.ant-sender .ant-sender-footer {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-end: 0px;
  padding-block-start: 0px;
}

.ant-bubble-content.ant-bubble-content-filled {
  padding: 0px;
  // min-height: 24px;
  // background-color: auto;
}

.ant-bubble .ant-bubble-content {
  min-height: unset;
}

.ant-bubble .ant-bubble-content-filled {
  background-color: unset;
}

.dushu.ant-form-css-var {
  --ant-form-vertical-label-padding: 0;
}

.toolbar-wrapper {
  padding: 0px 24px;
  color: rgb(var(--ja-light-gray-1));
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.toolbar-wrapper .anticon {
  padding: 12px;
  cursor: pointer;
}

.toolbar-wrapper .anticon[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.toolbar-wrapper .anticon:hover {
  color: rgb(var(--ja-light-gray-5));
}

.ant-modal-wrap {
  pointer-events: none;
}

.ant-modal-root .ant-modal-mask {
  pointer-events: auto;
}

.dushu.ant-collapse {
  --ant-collapse-content-bg: transparent;
}

.dushu.ant-input-css-var {
  --ant-input-hover-bg: transparent;
  --ant-input-active-bg: transparent;
}

.dushu.ant-tree {
  background-color: transparent;
}
