.dushu {
  --ant-color-primary: var(--primary-color-3);
  --ant-color-primary-hover: var(--primary-color-4);
  --ant-color-primary-active: var(--primary-color-4);
  --ant-color-link: var(--primary-color-3);
  --ant-color-link-hover: var(--primary-color-4);
  --ant-color-link-active: var(--primary-color-4);

  --ant-color-text-description: var(--ja-light-gray-1);
}

.dushu.ant-btn {
  --ant-button-default-hover-color: white;
  --ant-button-default-active-color: white;
  --ant-button-default-bg: var(--ja-dark-gray-3);
  --ant-button-default-hover-bg: var(--ja-dark-gray-4);
  --ant-button-default-active-bg: var(--ja-dark-gray-4);
}

.dushu.ant-select-css-var {
  --ant-padding-sm: 12px;
  --ant-select-option-selected-bg: var(--primary-color-3);
  --ant-select-option-active-bg: var(--primary-color-3);
}

.dushu.ant-radio-css-var {
  --ant-radio-button-solid-checked-bg: var(--primary-color-3);
  --ant-radio-button-solid-checked-hover-bg: var(--primary-color-4);
  --ant-radio-button-solid-checked-active-bg: var(--primary-color-4);
}

.dushu.ant-tabs-css-var {
  --ant-tabs-item-selected-color: var(--primary-color-3);
  --ant-tabs-item-hover-color: var(--primary-color-4);
  --ant-tabs-item-active-color: var(--primary-color-4);
  --ant-tabs-ink-bar-color: var(--primary-color-3);
}
