:root {
  --ja-dark-gray-1: #16202b;
  --ja-dark-gray-2: #1c2630;
  --ja-dark-gray-3: #242e37;
  --ja-dark-gray-4: #28323c;
  --ja-dark-gray-5: #37414d;

  --ja-gray-1: #5c7080;
  --ja-gray-2: #738694;
  --ja-gray-3: #8a9ba8;
  --ja-gray-4: #a7b6c2;
  --ja-gray-5: #bfccd6;

  --ja-light-gray-1: #c7d1dc;
  --ja-light-gray-2: #d8e1e8;
  --ja-light-gray-3: #e1e8ed;
  --ja-light-gray-4: #ebf1f5;
  --ja-light-gray-5: #f5f8fa;

  --ja-blue-1: #3565a9;
  --ja-blue-2: #4580d6;
  --ja-blue-3: #4c90f0;
  --ja-blue-4: #6fa8f8;
  --ja-blue-5: #9ac4ff;

  --ja-green-1: #0a6640;
  --ja-green-2: #0d8050;
  --ja-green-3: #0f9960;
  --ja-green-4: #15b371;
  --ja-green-5: #3dcc91;

  --ja-orange-1: #a66321;
  --ja-orange-2: #bf7326;
  --ja-orange-3: #d9822b;
  --ja-orange-4: #f29d49;
  --ja-orange-5: #ffb366;

  --ja-red-1: #a82a2a;
  --ja-red-2: #c23030;
  --ja-red-3: #dd4444;
  --ja-red-4: #f55656;
  --ja-red-5: #ff7373;

  --ja-vermilion-1: #9e2b0e;
  --ja-vermilion-2: #b83211;
  --ja-vermilion-3: #d13913;
  --ja-vermilion-4: #eb532d;
  --ja-vermilion-5: #ff6e4a;

  --ja-rose-1: #a82255;
  --ja-rose-2: #c22762;
  --ja-rose-3: #dc2c6f;
  --ja-rose-4: #f5498b;
  --ja-rose-5: #ff66a1;

  --ja-violet-1: #5c255c;
  --ja-violet-2: #752f75;
  --ja-violet-3: #8f398f;
  --ja-violet-4: #a854a8;
  --ja-violet-5: #c274c2;

  --ja-indigo-1: #5642a6;
  --ja-indigo-2: #634dbf;
  --ja-indigo-3: #7157d9;
  --ja-indigo-4: #9179f2;
  --ja-indigo-5: #b39af5;

  --ja-cobalt-1: #1f4b99;
  --ja-cobalt-2: #2458b3;
  --ja-cobalt-3: #2965cc;
  --ja-cobalt-4: #4580e6;
  --ja-cobalt-5: #669eff;

  --ja-turquoise-1: #008075;
  --ja-turquoise-2: #00998c;
  --ja-turquoise-3: #00b3a4;
  --ja-turquoise-4: #14ccbd;
  --ja-turquoise-5: #2ee6d6;

  --ja-forest-1: #1d7324;
  --ja-forest-2: #238c2c;
  --ja-forest-3: #29a634;
  --ja-forest-4: #43bf4d;
  --ja-forest-5: #62d96b;

  --ja-lime-1: #728c23;
  --ja-lime-2: #87a629;
  --ja-lime-3: #9bbf30;
  --ja-lime-4: #b6d94c;
  --ja-lime-5: #d1f26d;

  --ja-gold-1: #a67908;
  --ja-gold-2: #bf8c0a;
  --ja-gold-3: #d99e0b;
  --ja-gold-4: #f2b824;
  --ja-gold-5: #ffc940;

  --ja-sepia-1: #63411e;
  --ja-sepia-2: #7d5125;
  --ja-sepia-3: #96622d;
  --ja-sepia-4: #b07b46;
  --ja-sepia-5: #c99765;

  --primary-color: var(--ja-blue-3);
  --primary-color-1: var(--ja-blue-1);
  --primary-color-2: var(--ja-blue-2);
  --primary-color-3: var(--ja-blue-3);
  --primary-color-4: var(--ja-blue-4);
  --primary-color-5: var(--ja-blue-5);
}
