.hSlider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  :global {
    .ant-btn {
      background-color: #28323c;
      border-color: #37414d;
    }
  }

  .slider {
    flex: 1;
  }
}
