.ant-input-group-addon {
  padding: 0px !important;
}

.ant-modal .ant-modal-content {
  padding: 0;
}

.ant-select-selector {
  box-shadow: none !important;
}

.ant-btn-primary {
  box-shadow: none;
}

.ant-btn-primary[disabled] {
  background-color: #4c90f074;
  color: #ffffffa8;
}

.ant-image-preview-root .ant-image-preview-img {
  max-width: 70vw;
  max-height: 90vh;
}
