.tippy-box[data-theme~='liqun'] {
  background-color: rgba(var(--ground-color-1), 1);
  color: rgb(var(--fore-color));
  backdrop-filter: blur(4px);
}

.tippy-box[data-theme~='liqun'][data-placement^='top'] > .tippy-arrow::before {
  color: rgba(var(--ground-color-1), 1);
}
.tippy-box[data-theme~='liqun'][data-placement^='bottom']
  > .tippy-arrow::before {
  color: rgba(var(--ground-color-1), 1);
}
.tippy-box[data-theme~='liqun'][data-placement^='left'] > .tippy-arrow::before {
  color: rgba(var(--ground-color-1), 1);
}
.tippy-box[data-theme~='liqun'][data-placement^='right']
  > .tippy-arrow::before {
  color: rgba(var(--ground-color-1), 1);
}

/* The border of the arrow will now match the border of the box */
.tippy-box[data-theme~='liqun'] {
  background: rgba(var(--ground-color-1), 1);
  border: 1px solid rgb(var(--ground-color-5));
}

.tippy-content {
  padding: 0px !important;
}
