.x-card-fake-hash {
  background: #1c2630;
  border: 1px solid #37414d;
  border-radius: 3px;
  padding: 12px;
  font-size: 14px;

  :global {
    .x-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;

      .left {
        flex: 1;
        display: flex;
        overflow: hidden;
        align-items: center;
      }

      .icon {
        margin-right: 8px;
        color: #c7d1dc;
      }

      .title {
        flex: 1;
        color: #fff;
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }
    }
  }
}
