.liqun-collapse {
  background-color: transparent;
  :global {
    .ant-collapse {
      border-left: none;
      border-right: none;
    }
    .ant-collapse-header {
      font-size: 14px;
      height: 31px;
      background-color: rgba(40, 50, 60, 0.6);
      border-color: #37414d;
      padding: 0 12px;
      align-items: center;
      user-select: none;
    }
  }
}
