.titleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subTitle {
  display: flex;
  align-items: center;
  color: rgb(var(--fore-color));
  margin: 12px 0 8px;
  gap: 8px;
}

.important {
  color: rgb(var(--primary-color));
}

.takePhoto {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.checkedBtn {
  padding: 2px 4px;
  border-radius: 16px;
  opacity: 0.5;
  line-height: 14px;
  background: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  cursor: pointer;
  transition: opacity 0.3s linear;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.checked {
    opacity: 1;
  }

  &.disabled.checked {
    opacity: 0.8;
  }
}
