.liqun-timebar {
  background-color: #232a33;
  border: 1px solid #424b54;
  border-radius: 4px;
  :global {
    .timeline {
      *,
      ::before,
      ::after {
        border: none;
      }
      .time-range {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 4px;
      }
      .time-range2 {
        background-color: #4c90f0;
        border-radius: 4px;
      }
      .vis-time-axis .vis-text {
        color: #c7d1dc;
        font-size: 12px;
      }
      .vis-shadow {
        border-color: #424b54 !important;
      }
      .vis-time-axis .vis-grid.vis-minor {
        border-color: #424b54;
      }
      .vis-time-axis .vis-grid.vis-major {
        border-color: #424b54;
        display: none;
      }
      .vis-major {
        display: none;
      }
      .vis-panel.vis-center {
        border-color: rgba(0, 0, 0, 0); // #424b54;
      }
      .vis-itemset {
        height: 12px !important;
      }
      .vis-time-axis .vis-text {
        padding: 0;
      }
      .vis-custom-time {
        background-color: #fff;
        .vis-custom-time-marker {
          padding: 0 5px;
          right: -40px;
          background-color: #fff;
          color: #000;
          margin-top: 14px;
        }
      }
    }
  }
}
