.content {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 3px;
  background: #1c2631;
  border: 1px solid #37414d;
  gap: 12px;

  .item {
    width: 168px;
    height: 48px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0%);
    border: 1px solid #37414d;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    gap: 8px;

    .textBox {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 12px;
      height: 100%;

      p {
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }

      .title {
        color: #c7d1dc;
        line-height: 12px;
      }

      .value {
        color: #fff;
        line-height: 12px;
        max-width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.content2 {
  margin-top: 12px;
  border: 1px solid #37414d;
  border-radius: 3px;
  background-color: #1c2631;
  box-sizing: content;

  .progressHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0 12px;
    font-weight: normal;

    p {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }
}
