.update {
  // width: 480px !important;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 0;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 10%);
  // top: calc(50% - 216px);
  // transform: translateY(-50%) !important;
  background-color: #1e262f;

  .header {
    height: 120px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      color: #fff;

      .top {
        font-size: 18px;
        font-weight: 500;
      }

      .bottom {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.wrapper {
  :global {
    .ant-modal-content {
      border: 0 solid transparent !important;
      background-color: transparent !important;
      // background-color: transparent;
    }
    .update-content {
      font-size: 14px;
      color: #c7d1dc;
      h1 {
        font-size: 1.3em;
      }

      h2 {
        font-size: 1.2em;
      }

      h3 {
        font-size: 1.1em;
      }
      h4 {
        font-size: 1em;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0.4em 0;
        font-weight: 600;
      }

      p {
        margin: 0.4em 0;
      }

      ul {
        list-style-type: disc;
      }

      ul,
      ol {
        margin: 0.5em 0;
        padding-left: 1.5em;
        li {
          margin: 0.15em 0;
        }
      }

      ol {
        list-style-type: decimal;
      }
    }
  }
}
